body{
  padding: 0;
  margin: 0;
  font-family: 'Tomorrow', 'Roboto', sans-serif;
  font-size: 16px/22px;
  min-width: 300px;
}

#score{
  position: absolute;
  z-index: 999;
  width:20px;
  height:20px;
  top:20px;
  left:20px;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  color: #fff;
}
#panel{
	display: none;
	position:fixed;
	width: 10%;
	top: 2em;
	left: 2em;
  color: white;
}
.page{
  position: absolute;
  z-index: 99999;
  left:0;
  right:0;
  top:0;
  bottom: 0;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startPage{
  background: url("imgs/start.jpg"), #5f6e37;
  background-position: left;
  background-size: cover;
}
.restartPage{
  display: none;
  background-color: rgba(0,0,0,.48);
}
.page button{
  width: 20vw;
  height: 100px;
  font-size: 1.2em;
  font-family: 'Tomorrow', 'Roboto', sans-serif;
  color: white;
  background-color: #adbd36;
  border: none;
  border-radius:1vw; 
  box-shadow: 0 9px #7a8c25;
  
}
.page button:focus{
  background-color: #94a229;
  box-shadow: 0 5px #495b34;
  transform: translateY(4px);
}
