body{
  padding: 0;
  margin: 0;
  font-family: 'Tomorrow', 'Roboto', sans-serif;
	font-size: 16px/22px;
}

#score{
  position: absolute;
  z-index: 999;
  width:20px;
  height:20px;
  top:20px;
  left:20px;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  color: #fff;
}

.page{
  position: absolute;
  z-index: 99999;
  left:0;
  right:0;
  top:0;
  bottom: 0;
  background-color: silver;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page button{
  width: 20vw;
  height: 100px;
  font-size: 1.2em;
	font-family: 'Tomorrow', 'Roboto', sans-serif;
	color: white;
	background-color: #14de43;
	border: none;
	border-radius:50px; 
}
.page button:focus{
	background-color: #15ad38;
}
